
<div>
  <ul ng-hide="editing" ng-click="editing = true">
    <li>Language: {{game.language}}</li>
    <li>Dialect: {{game.dialect}}</li>
    <li>Progression: {{game.progression}}</li>
    <li>Variant: {{game.variant}}</li>
  </ul>
  <form ng-show="editing" ng-submit="submit()">
    <select ng-model="game.language" ng-options="language for language in languages">
      <option value="">--choose language--</option>
    </select>
    <br/>
    <select ng-model="game.dialect" ng-options="dialect for dialect in language.dialects">
      <option value="">--choose dialect--</option>
    </select>
    <br/>
    <select ng-model="game.progression" ng-options="progression for progression in progressions">
      <option value="">--choose progression--</option>
    </select>
    <br/>
    <select ng-model="game.variant" ng-options="variant for variant in variants">
      <option value="">--choose variant--</option>
    </select>
    <input type="text" ng-model="game.variant" placeholder="variant" ng-required/>
    <br/>
    <input type="submit" id="submit" value="Submit"/>
  </form>
</div>

