
<div>
  <ul ng-hide="editing" ng-click="editing = true">
    <li>Language: {{language.name}}</li>
    <li>Dialect: {{language.dialect}}</li>
    <li>Progression: {{language.progression}}</li>
    <li>Variant: {{language.variant}}</li>
  </ul>
  <form ng-show="editing" ng-submit="submit()">
    <select ng-model="game.language" ng-options="language for language in languages">
      <option value="">--choose language--</option>
    </select>
    <br/>
    <input type="text" ng-model="game.dialect" placeholder="dialect" ng-required/>
    <br/>
    <input type="text" ng-model="game.progression" placeholder="progression" ng-required/>
    <br/>
    <input type="text" ng-model="game.variant" placeholder="variant" ng-required/>
    <br/>
    <input type="submit" id="submit" value="Submit"/>
  </form>
</div>

