
<hr>

<div>
  <form>
    <h1>Square: {{type}}</h1>
    <h2>Props:
      <input type="text" ng-model="props">
      {{props}}
    </h2>
  </form>
</div>

<div>
  <form>
    <div ng-repeat="interaction in form.interactions">
      <input type="text" class="xdTextBox" ng-model="interaction.question.text" placeholder="{{interaction[0]}}"/><br>
      <input type="text" class="xdTextBox" ng-model="interaction.answer.text" placeholder="{{interaction[1]}}"/><br>
      <br>
    </div>
    <button ng-click="submit(form)">Submit</button>
    <button ng-click="addFields(form)">Add</button>
    <hr>
  </form>
</div>

<hr>

