

<div>
  <form>
    <h1>Square: {{square.type}}</h1>
    <h2>Props:
      <input type="text" ng-model="square.props">
      {{props}}
    </h2>
  </form>
</div>

<div>
  <form>
    <div ng-repeat="interaction in square.interactions">
      <input type="text" class="xdTextBox" ng-model="interaction.question.text" /><br>
      <input type="text" class="xdTextBox" ng-model="interaction.answer.text" /><br>
      <br>
    </div>
    <button ng-click="submit(square)">Submit</button>
    <button ng-click="addFields(square)">Add</button>
  </form>
</div>


