
<div ng-if="editable">
  <form>
    <h1>Square: {{square.type}}</h1>
    <h2>Props:
      <input type="text" ng-model="square.props">
    </h2>
  </form>

  <form>
    <div ng-repeat="interaction in square.interactions">
      <input type="text" class="xdTextBox" ng-model="interaction.question.text" /><br>
      <input type="text" class="xdTextBox" ng-model="interaction.answer.text" /><br>
      <br>
    </div>
    <button ng-click="submit(square)">Submit</button>
    <button ng-click="addFields(square)">Add</button>
  </form>
</div>

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/180723479&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

<div ng-if="!editable">
  <h1>Square: {{square.type}}</h1>
  <h2>Props: {{square.props}} </h2>
  <div ng-repeat="interaction in square.interactions">
    {{interaction.question.text}}
    {{interaction.answer.text}}
    <br>
  </div>
</div>
