<div class="jumbotron">
  <h1>Play Hard. Learn Fast.</h1>
  <p class="lead">
  Create, manage, and play your saved Language Hunt game scripts and audio.
  </p>
</div>
<div ng-repeat="square in game.scripts[0].strategy[0].laps[0].squares">
  <p><strong>{{square.name}}</strong></p>
  <ul  ng-repeat="exchange in square.exchanges">
    <li class="lead">
      <audio controls>
        <source ng-src="{{audio_path('assets/irish/conemara/', exchange.question.audiofile)}}" type="audio/mp3"/>
        </audio>
      {{exchange.question.text}}
      </li>
    <li class="lead">
          <audio controls>
        <source ng-src="{{audio_path('assets/irish/conemara/', exchange.answer.audiofile)}}" type="audio/mp3"/>
        </audio>
      {{exchange.answer.text}}
    </li>
  </ul>
</div>
