
<div ng-if="lapId">
  <div ng-if="editable">
    <form >
      <h1>Lap: {{number}}</h1>
      <h2>Constraint:
        <input type="text" ng-model="constraint">
        {{constraint}}
      </h2>
      <div ng-repeat="type in ['what', 'who', 'where', 'how many', 'which', 'when', 'why', 'how']">
        <square editable="true" type="type"></square>
      </div>
      <input type="button" ng-click="nextLap()" id="nextLap" value="New Lap"/>
    </form>
  </div>
  <div ng-if="! editable">
    <h1>Lap: {{number}}</h1>
    <h2>Constraint: {{constraint}}<h2>
      <div ng-repeat="type in ['what', 'who', 'where', 'how many', 'which', 'when', 'why', 'how']">
        <square editable="false" type="type"></square>
      </div>
  </div>
</div>
