
<div ng-if="lapId">
  <div ng-if="editable">
    <form >
      <h2>Constraint:
        <input type="text" ng-model="lap.constraint">
      </h2>
      <div ng-repeat="squareId in lap.squares">
        <square editable="true" square-id="squareId"></square>
      </div>
      <input type="button" ng-click="newSquare()" id="newSquare" value="New Square"/>
      <input type="button" ng-click="saveLap()" id="saveLap" value="Save Lap"/>
    </form>
  </div>
  <div ng-if="! editable">
    <h2>Constraint: {{lap.constraint}}<h2>
      <div ng-repeat="squareId in lap.squares">
        <square editable="false" square-id="squareId"></square>
      </div>
  </div>
</div>
