
<div ng-if="lapId">
  <div ng-if="editable">
    <form >
      <h2>Constraint:
        <input type="text" ng-model="constraint">
      </h2>
      <div ng-repeat="squareId in squareIds">
        <square editable="true" squareId="squareId"></square>
      </div>
      <input type="button" ng-click="nextLap()" id="nextLap" value="New Lap"/>
    </form>
  </div>
  <div ng-if="! editable">
    <h2>Constraint: {{constraint}}<h2>
      <div ng-repeat="squareId in squareIds">
        <square editable="false" squareId="squareId"></square>
      </div>
  </div>
</div>
